/* Header */
.header { 
  /*margin-bottom: 50px;*/
  color: white;
  height: 100vh;
  background-color: #001220;
 }
.header video { height: 500px; }
.header .content {
  position: absolute;
  padding-top: 50px;
  top: 75px;
  left: 25%;
  right: 25%;
}
.header .typed-cursor { opacity: 0; }
.header #title_name { min-height: 72px; }
.header .content a {
  color: white;
  padding: 8px;
  font-size: 18px;
}
.header .w-computer, .header .w-tablet, .header .w-phone { 
  max-width: 100%;
  position: absolute;
  bottom: 0;
}
.header .w-computer { display: block; }
.header .w-tablet { display: none; }
.header .w-phone { display: none; }

@media screen and (max-width: 992px) {
  .header .content {
    left: 10%;
    right: 10%;
  }
}
@media screen and (max-width: 768px) {
  .header .project { display: none; }
  .header .w-tablet { display: block; }
  .header .w-phone { display: none; }
}
@media screen and (max-width: 576px) {
  .header .w-computer { display: none; }
  .header .w-tablet { display: none; }
  .header .w-phone { display: block; }
}

/* About me*/
.about-me {
  color: white;
}
.about-me .img-box {
  display: flex;
  justify-content: center;
  align-items: center;
}
.about-me .text-box {
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 768px) {
  .about-me img, .about-me .text-box {
    margin-bottom: 50px;
  }
  .about-me img {
    height: 350px !important;
  }
}
@media screen and (max-width: 576px) {
  .about-me img {
    height: auto !important;
    max-height: 300px;
  }
}

/* Skills */
.skills { 
  margin-top: 100px !important; 
  margin-bottom: 100px !important; 
}
.skills .skill-list p span {
  font-weight: 900;
  color: #69fab9;
  min-width: 25px !important;
}
.skills a {
  color: #001220;
  font-size: 15px;
}
@media screen and (max-width: 768px) {
  .skills .skill-list { margin-top: 50px;}
}

/* Projects */
.projects svg {
  position: relative;
}
.project {
  background-color: #001220;
  padding: 25px;
  border-radius: 25px;
  color: white;
  text-align: center;
  border: solid 1px #69fab9;
  margin-bottom: 50px;
}
.projects a, .projects a:hover {
  color: white;
  text-decoration: none;
}
.project img { 
  margin-bottom: 10px;
}
@media screen and (max-width: 992px) {
  .project img { 
      width: 150px; 
      height: auto;
  }
}
@media screen and (max-width: 576px) {
  .project img { 
      height: 150px; 
      width: auto;
  }
}