@import url('https://fonts.googleapis.com/css2?family=Yesteryear&display=swap');

/* Language button */
.switch-language {
  margin-right: 20px;
}
.switch-language img { 
  width: 30px;
}

/* Header */
.header .content { 
  height: 100vh;
}
.header .typed-cursor { opacity: 0; }
.header .title-box { 
  display: flex;
  justify-content: space-between;
  align-items: end;
}
.header h1 {
  font-size: 5rem !important;
}
.header #title_name { 
  min-height: 72px; 
  min-width: 400px;
}
.header .profession { 
  text-align: center;
}
.header .title-box .walking { 
  float: right;
}
.header .content p { 
  text-align: center;
}
.header .description {
  margin-top: 50px;
}
.header .links { text-align: center; }
.header a, .header a:hover {
  color: #468189;
  padding: 8px;
  font-size: 18px;
}

@media screen and (max-width: 992px) {
  .header h1 {
    font-size: 3rem !important;
  }
  .header .title-box { 
    display: block;
  }
  .header #cat {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .header #title_name { 
    min-width: auto;
    float: none;
    text-align: center;
  }
  .header .title-box .walking { 
    float: none;
  }
}

/* Quote */
.quotes {
  height: 60vh;

  background-image: url(../../assets/backgrounds/blurry-blob.svg);
  background-size: cover;
  background-position: center center;
}
.quote-box {
  display: flex;
  font-style: normal;
}
.quote-box i {
  font-size: 20px;
  color: white;
}
.quote-box i:first-child {
  margin: 3px 10px 0 0;
}
.quote-box i:last-child {
  display: flex;
  align-items: flex-end;
  margin: 0 0 3px 10px;
}
.quote-box .quote {
  font-family: "Yesteryear", cursive;
  font-weight: 400;
  font-size: 32px;
  color: white;
  text-align: center;
}
.author {
  display: flex;
  justify-content: flex-end;
  font-size: 18px;
  font-style: italic;
  margin-top: 20px;
  color: #bee5e7;
}
.author span:first-child {
  margin: -7px 5px 0 0;
  font-family: monospace;
}

@media screen and (max-width: 992px) {
  .quotes #quote-cat-animation { display: none;}
}

/* skillset */
.skillset .title {
  display: flex;
}
.skillset .video-box video {
  width: 100%;
}
.skillset .title-box {
  width: 80%;
}
.skillset .video-box {
  width: 20%;
}
@media screen and (max-width: 992px) {
  .skillset .title-box {
    width: 70%;
  }
  .skillset .video-box {
    width: 30%;
  }
}
@media screen and (max-width: 768px) {
	.skillset .title-box {
    width: 40%;
  }
  .skillset .video-box {
    width: 60%;
  }
}
@media screen and (max-width: 576px) {
  .skillset .title-box {
    width: 40%;
  }
  .skillset .video-box {
    width: 60%;
  }
}

/* Experience */
.experiences {
  padding: 0 5rem 15rem 5rem;

  background-image: url(../../assets/backgrounds/blurry-blobs.svg);
  background-size: cover;
}
.experiences h1 {
  font-size: 5rem !important;
}
.experiences p {
  color: #acabab !important;
}
@media screen and (max-width: 576px) {
  .experiences h1 {
    font-size: 3.5rem !important;
  }
}
.experiences .title {
  display: flex;
  align-items: end;
}
.experiences .video-box video {
  width: 100%;
}
.experiences .title-box {
  width: 80%;
}
.experiences .video-box {
  width: 20%;
}
@media screen and (max-width: 992px) {
  .experiences .title-box {
    width: 70%;
  }
  .experiences .video-box {
    width: 30%;
  }
}
@media screen and (max-width: 768px) {
	.experiences .title-box {
    width: 40%;
  }
  .experiences .video-box {
    width: 60%;
  }
}
@media screen and (max-width: 576px) {
  .experiences .title-box {
    width: 40%;
  }
  .experiences .video-box {
    width: 60%;
  }
}
.experiences .accordion-item { background-color: transparent; }
.experiences .accordion-button, .experiences button {
  width: 100%;
  border: none;
  border-bottom: 1px #acabab solid;
  background-color: transparent !important;
  display: block;
  padding: 1rem 0 0 0;

}
.experiences .accordion-button:focus {
  border-bottom: 1px #acabab solid;
  box-shadow: none;
}
.experiences .role {
  float: left;
}
.experiences .role h2 {
  font-size: 2.5rem !important;
  color: #acabab !important;
  font-weight: normal !important;
}
.experiences p {
  font-weight: normal !important;
}
.experiences .duration {
  float: right;
  text-align: end;
}
.experiences .experience:hover h2 {
  color: white !important;
}
.experiences .experience:hover p, .experiences .accordion-body p {
  color: #bee5e7 !important;
}
@media screen and (max-width: 576px) {
  .experiences {
    padding: 0 2rem 0 2rem !important;
  }
  .experience .role, .experience .duration {
    float: none;
    text-align: start;
  }
}
