footer {margin-top: 75px;}
footer, footer p {
    background-color: #004a7c;
    color: white;
}
footer h6, footer i { color: #f9d837;}
footer .social {text-decoration: none;}
.copyright {color: white;}
