@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

body {
  margin: 0;
  overflow-x: hidden;
  background-image: url('../assets/paws-black-2.svg');
  background-size: cover;
  background-size: 100vh;
  background-color: #31363F;

  width: 100vw;
}

h1 {
  font-family: 'Poppins', sans-serif !important;
  font-size: 25px !important;
  font-weight: bold !important;
  color: white;
}

h2 {
  font-family: 'Poppins', sans-serif;
  font-size: 22px !important;
  font-weight: bold !important;   
  color: white;
}
h3 {
  font-family: 'Poppins', sans-serif;
  font-size: 18px !important;
  font-weight: bold !important;
  color: white;
}
p, li, a {
   font-family: 'Poppins', sans-serif;
   font-size: 18px;
   color: white;
 }
li::marker { color: #76ABAE; }

.secondary {
  color: #bee5e7 ;
}
.title {
   font-family: 'Poppins', sans-serif !important;
   font-size: 30px !important;
   font-weight: 900 !important;
}
.light-blue { color: #00d4ff; }
.light-green { color: #76ABAE; }
.dark-yellow { color: rgba(219, 175, 19); }
.blue { color: #0b369c; }
.ocean-green { color: #34A0A4; }
.background-secondary { background-color: #0b0b0e;}
.m-100 { 
  margin-top: 100px;
  margin-bottom: 100px;
}

@media screen and (max-width: 576px) {
  .m-100 { 
    margin-top: 50px;
    margin-bottom: 50px;
  }
}
.p-100 { 
  padding-top: 100px;
  padding-bottom: 100px;
}

@media screen and (max-width: 576px) {
  .p-100 { 
    padding-top: 50px;
    padding-bottom: 50px;
  }
}
button, a[type="button"] {
  font-family: 'Poppins', sans-serif;
  margin-top: 25px;
  background: #76ABAE !important;
  border-radius: 5px;
  padding: 5px 10px;
  font-size: 12px;
  color: black !important;
  text-decoration: none;
  font-weight: 900;
}
a[type="button"]:hover {
  color: #071a29;
}

/* Scroll animation */
.reveal{
  opacity: 0;
  filter: blur(5px);
  transform: translateX(-100%);
  transition: 1s all ease;
}
.show {
  opacity: 1;
  filter: blur(0);
  transform: translateX(0);
}


@media(prefers-reduced-motion) {
  .reveal {
    transition: none;
    filter: blur(0);
    transform: translateX(0);
  }
}