.header {
    color: white;
    margin-top: 100px;
    height: 500px;
    border-radius: 25px;
    padding: 100px;
}
.header-weatheristics { background-image: linear-gradient(rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.5)), url("../../../img/backgrounds/weather.jpg"); }
.header-vegiscan { background-image: linear-gradient(rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.5)), url("../../../img/backgrounds/vegables.jpg"); }
.header-stolpersteine { background-image: linear-gradient(rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.5)), url("../../../img/backgrounds/stolperstein.jpg"); }
        .header .title-box h1, .content-box h1  {
    font-size: 50px !important;
}
.header video {
    width: 100%;
}
.content-box, .designs { margin-top: 100px !important; }
.detailed-box { 
    margin-top: 200px !important;
    margin-bottom: 20px;
 }
.content-box .logo {
    width: 100px;
    height: 100px;
    padding: 10px;
    border-radius: 30px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.20);
    margin-bottom: 25px;
}
.content-box .stolpersteine-logo img {
    width: 80px;
    margin-top: 15px;
}
.content-box .page-link { 
    border: none;
    float: right;
    color: #0b369c;
    background-color: transparent;
    font-weight: bolder;
}
.detailed-box p { margin-bottom: 5px !important; }
.detailed-box span { font-weight: bolder; }
.content li::marker { color: #00d4ff; }
.content .vegi-list li::marker { color: rgba(158, 232, 192); }
.content .steine-list li::marker { color: rgba(219, 175, 19); }

@media screen and (max-width: 768px) {
    .header { 
        padding: 30px; 
        text-align: center;
    }
    .header img, .header video  {
        height: 400px !important;
    }
    .header .title-box h1, .content-box h1  {
        font-size: 25px !important;
    }
    .detailed-box, .designs { 
        margin-top: 25px !important;
    }
}