body {
  background-image: url(../../img/backgrounds/blobs.svg);
  background-repeat: none;
}
.information, .experience { margin-top: 100px !important; }
.information .about-me { margin-bottom: 100px; }
.cards {   
  margin-top: 100px !important;
  margin-bottom: 100px !important;
}
.flip-card-container {
  width: 250px;
  height: 250px;
  perspective: 1000px;
}
  .flip-card {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 1s;
    transform-style: preserve-3d;
  }
  .flip-card-container:hover .flip-card {
    transform: rotateY(180deg); /* <=>  rotateY(.5turn) */
  }
  /* Position the front and back side */
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #001220;
    border: solid 2px #69fab9;
    color: white;
    /* border-radius: 0.5rem; */
  }
  .flip-card-front .content, .flip-card-back.content {
    display: block;
  }
  .flip-card-front .content p , .flip-card-back.content p {
    font-size: 12px !important;
  }
  .flip-card-front .content i {
    margin-bottom: 10px;
    font-size: 50px;
  }
  .flip-card-back {
    padding: 10px;
    transform: rotateY(180deg);
  }
  
  .flip-card-front img {
    width: 100%;
    height: 100%;
    /* border-radius: 0.5rem; */
  }
  .flip-card-back p {
    text-align: center;
    margin: 1rem;
    line-height: 1.5rem;
  }
  .flip-card-back p span {
    display: block;
    font-style: italic;
    font-weight: bold;
    margin-top: 1.25rem;
  }
.skill { 
  display: inline-block;
  width: 100%;
  color: white;
}
.skill small { 
  font-weight: bold;
}
.skill .language { 
  float: left;
}
.skill .skill-procentage { 
  float: right;
}
.skill .progress-bar { background-color: #69fab9;}

@media screen and (max-width: 768px) {
  .skills { margin-top: 75px;}
}

/* Projects */
.projects svg {
  position: relative;
}
.project {
  background-color: #001220;
  padding: 25px;
  border-radius: 25px;
  color: white;
  text-align: center;
  border: solid 1px #69fab9;
  margin-bottom: 50px;
}
.projects a, .projects a:hover {
  color: white;
  text-decoration: none;
}
.project img { 
  margin-bottom: 10px;
}
@media screen and (max-width: 992px) {
  .project img { 
      width: 150px; 
      height: auto;
  }
}
@media screen and (max-width: 576px) {
  .project img { 
      height: 150px; 
      width: auto;
  }
}