.carousel {background-color: #f9e43491;}
.carousel-control-next-icon, .carousel-control-prev-icon {
    color: white;
}
.carousel .carousel-inner .carousel-item .card:hover .overlay {
    width: 100%;
}
.carousel .carousel-inner .carousel-item .card .overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.8);
    overflow: hidden;
    width: 0;
    height: 100%;
    transition: .5s ease;
  }

  .carousel .carousel-inner .carousel-item .card .overlay .overlay-text h1, 
  .carousel .carousel-inner .carousel-item .card .overlay .overlay-text p {
    color: white;
    text-decoration: none;
  }
  .carousel .carousel-inner .carousel-item .card .overlay-text {
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    white-space: nowrap;
  }