.dataTables_wrapper {padding: 0;}
.information input {
    width: 100%;
    padding: 10px;
    margin-bottom: 25px;
    background-color: #f1f5ff;
    border: 1px solid #1d1b31;
}
.information textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 25px;
    border: 1px solid #1d1b31;
    background-color: #f1f5ff;
}
